<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brogrammers.tuitionapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.brogrammers.tuitionapp.AppInitializer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.brogrammers.tuitionapp.views.ShowNidOrSIdCartActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.brogrammers.tuitionapp.views.GuardianProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.brogrammers.tuitionapp.views.PrivacyPolicyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.brogrammers.tuitionapp.views.AddIDCardPhotoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.brogrammers.tuitionapp.views.TeacherProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.brogrammers.tuitionapp.views.ShowGuardianDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.brogrammers.tuitionapp.views.ShowTeacherDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.brogrammers.tuitionapp.views.locationactivity.SelectLocationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.brogrammers.tuitionapp.views.PostForTuitionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.brogrammers.tuitionapp.views.loginactivity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.brogrammers.tuitionapp.views.mainactivity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.brogrammers.tuitionapp.views.signupactivity.SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.brogrammers.tuitionapp.views.otpactivity.OtpVarificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.brogrammers.tuitionapp.views.findtuitionortutoractivity.FindTuitionOrTutorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.brogrammers.tuitionapp.views.introslideractivity.IntroSliderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDWIF5RE6EIO9wUiWHRPjt-L-QM5_9EXn4" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6147403694159931~1888612847" />
    </application>

</manifest>